a:hover{
  cursor: pointer;
}
.langImg{
  width: 35px;
  height: 23px;
  cursor: pointer;
  margin: 5px;
}

.navbar{
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
}
.navbar-nav{
   font-size: 30px;
 }
.navbar-nav a{
  color: #d6e5ff;
}
.navbar-nav a:hover {
  margin-top: -15px;
  font-size: 40px;
  color: white;
}
.active{
  margin-top: -15px;
  font-size: 40px;
  color: white;
}
.navbar-nav a:visited {
  color: white;
}

span{
  color: #d6e5ff;
  margin-right: 15px;
  font-size: 15px;
}
