<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/advert-page" routerLinkActive="active" *ngIf="!authService.isAdmin()">{{'hAdverts' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-page" routerLinkActive="active" *ngIf="authService.isAdmin()">{{'hAdminPage' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-page" routerLinkActive="active">{{'hCreate' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/personal-page" routerLinkActive="active" *ngIf="authService.isAuthenticated()">{{'hMyAdverts' | translate}}</a>
      </li>

    </ul>
    <img src="https://geniusenglish.ru/wp-content/uploads/2017/11/flags-38754_1280.png"
         class="langImg"
         alt="EN" (click)="lang.switchLanguage('en')">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiKt9XCdCFDHb_MuK_o11njkbuRRlz8Zj3smaeVe_kj0adlDHDUw"
         class="langImg"
         alt="UA" (click)="lang.switchLanguage('ua')">

    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav">
        <li>
          <span>{{authService.email}}</span>
        </li>
        <li>
          <a (click)="onLogout()" *ngIf="authService.isAuthenticated()"> {{'hLogout' | translate}} </a>
        </li>
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">{{'hSignUp' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin" routerLinkActive="active">{{'hSignIn' | translate}}</a>
          </li>
        </ng-template>
      </ul>

    </form>
  </div>
</nav>

<!--<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">-->

  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
    <!--<span class="navbar-toggler-icon navbar-"></span>-->
  <!--</button>-->
  <!--<div class="collapse navbar-collapse" id="collapsibleNavbar">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="/advert-page">Advert</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="/create-page">Create</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul class="navbar-nav r" >-->
      <!--<li>-->
        <!--<a (click)="onLogout()" *ngIf="authService.isAuthenticated()"> Logout </a>-->
      <!--</li>-->
      <!--<ng-template [ngIf]="!authService.isAuthenticated()">-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLink="/signup">Sign Up</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"  routerLink="/signin">Sing In</a>-->
        <!--</li>-->
      <!--</ng-template>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->


