<div class="container-fluid">

    <div class="col-md-10 col-sm-10 c">
      <app-create-main></app-create-main>

    </div>

    <!--<div class="col-md-3 col-sm-6">-->
      <!--<app-createright></app-createright>-->
    <!--</div>-->

</div>
