/*.modal{*/
  /*width: 1200px;*/
/*}*/

.mainlist {
  margin-top: 20px;
}

img {
  cursor: pointer;
}

/*----------Top filter --------*/
.centered {
  margin-top: 10px;
}

.row60 {
  width: 60%;
  margin: 0 auto;
  text-align: center;

}
.pagin {
  max-width: 350px;

  margin: 0 auto;
  text-align: center;

}
btn-group {
  width: 100%;
}

/*----------Top filter end --------*/

/*-----Search bar---------*/
.has-search .form-control {
  padding-left: 2.375rem;
  /*margin-top: 10px;*/

}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.5rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/*-----Search bar---------*/

#team {
  background: white !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #be90ce;
  border-color: #be90ce;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #417bd8;
  border: 2px solid white;
  border-radius: 10px;
}
.btn-success{
  color: #fff;
  background-color: #007b5e;
  border: 2px solid white;
  border-radius: 10px;
}
.btn-danger{
  color: #fff;
  background-color: firebrick;
  border: 2px solid white;
  border-radius: 10px;
}
.reddy{
  background-color: red;
}
button{
  margin-right: 8px;
}

/*-----Search bar---------*/

section {
  margin-top: 10px;
  min-height: 669px;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}


#team .card {
  border: 3px solid #2376ae;
  background: #f7f8f9;
}

p.over{
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  padding: 5px; /* Поля вокруг текста */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

/*.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}*/

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  min-width: 100%;
  max-width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;

}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.card-text {
  max-height: 150px;
  overflow: auto
}

.card-text::-webkit-scrollbar {
  width: 12px;
}

.card-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}

.card-text::-webkit-scrollbar-thumb {
  background-color: #007b5e;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(38, 61, 33, 0.5);
}

