
<div class="centered">
  <div class="row row80">

    <!--Filters-->
    <div class="col-md-6 col-sm-6">
      <!--Search bar-->
      <div class="main">
        <!-- Actual search box -->
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="{{'al1' | translate }}" [(ngModel)]="queryString">
        </div>

        <!--Search bar End-->
      </div>

    </div>
    <div class="col-md-6 col-sm-6">

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary " (click)="sortDateAsc()">
          <input type="radio" name="options" id="option11"  autocomplete="off" > {{'al2' | translate }}
        </label>
        <label class="btn btn-primary" (click)="sortDateDesc()">
          <input type="radio" name="options" id="option12" autocomplete="off" >{{'al3' | translate }}
        </label>
      </div>

    </div>

  </div>

</div>
<div class="row pagin">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!--Filters end-->

<app-spinner *ngIf="showSpinner"></app-spinner>

<div class="container-fluid" *ngIf="!showSpinner">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="container-fluid">
      </div>
      <!-- Team -->
      <section id="team" class="pb-5">
        <div class="container">
          <div class="row ">
            <!-- Team member -->
            <div class=" col-md-6 col-lg-4" *ngFor="let formInfo of info  | paginate: { itemsPerPage: 9, currentPage: p }| filterdata: queryString">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="{{formInfo.img}}" (error)="photoError($event)" alt="card image"></p>
                        <h4 class="card-title">{{formInfo.title}}</h4>
                        <p></p>
                        <p class="card-text over">{{formInfo.type}} | {{formInfo.tag}} </p>
                        <p class="card-text">{{'al4' | translate }} {{formInfo.postDate}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">{{formInfo.title}}</h4>
                        <p class="card-text">{{formInfo.description}}</p>
                        <button class="btn btn-success mr-2" [routerLink]="['/post-detail', formInfo.key]" >{{'al5' | translate }}</button>
                        <button class="btn btn-warning" [hidden]="!formInfo.isVisible"
                                *ngIf="authService.isAdmin() || formInfo.email === authService.email" (click)="hidePost(formInfo.key, formInfo.isVisible)">{{'al6' | translate }}</button>
                        <button class="btn btn-warning " [hidden]="formInfo.isVisible"
                                *ngIf="authService.isAdmin()" (click)="hidePost(formInfo.key, formInfo.isVisible)">{{'al7' | translate }}</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Team member -->
          </div>
        </div>
      </section>
      <!-- Team -->
    </div>
  </div>
</div>

<div class="row pagin">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
