<div class="container col-lg-5 view" >
<form   (ngSubmit)="onSignUp(f)" #f="ngForm">
  <div class="login1">
    <h1 class="rig">{{'su1' | translate}}</h1>
    <p>{{'su2' | translate}}<span> <i><a routerLink="/signin">{{'su3' | translate}}</a></i>{{'su4' | translate}}</span> </p>
    <hr>

    <label for="email"><b>{{'su5' | translate}}</b></label>
    <input type="text" name="email"   placeholder="{{'su6' | translate}}" id="email" class="mail1" required ngModel>


    <label for="psw"><b>{{'su7' | translate}}</b></label>
    <input type="password" name="password" placeholder="{{'su8' | translate}}" id="psw" class="pass1" required ngModel>

    <div class="clearfix">
      <button type="submit" class="btn btn-outline-success"  [disabled]="!f.valid">{{'si9' | translate}}</button>
    </div>
    <br>
    <div *ngIf="authService.isEmailExist()" class="alert alert-danger" style="text-align: center;">
      <strong>{{authService.emailError}}</strong>
  </div>
  </div>
</form>
</div>


