form{
  margin: 100px 0;
}
.view{
  height: 651px;
}
.mail1, .pass1{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #00A86B;
  margin-bottom: 25px;
}

.login1 {
  padding: 16px;

}
.btn{
  margin: 2px;
}

.btn-outline-success{
  width: 35%;
  margin-left: 35%;
}


