
<div class="centered">
  <div class="row row80">

    <!--Filters-->
    <div class="col-md-6 col-sm-6">
      <!--Search bar-->
      <div class="main">
        <!-- Actual search box -->
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="{{'alp1' | translate}}" [(ngModel)]="queryString">
        </div>

        <!--Search bar End-->
      </div>

    </div>
    <div class="col-md-6 col-sm-6">
      <div class="btn-group d-flex">
        <button type="button" class="btn btn-primary w-100" (click)="sortDateAsc()">{{'alp2' | translate}}</button>
        <button type="button" class="btn btn-primary w-100" (click)="sortDateDesc()">{{'alp3' | translate}}</button>
      </div>
    </div>

  </div>

</div>
<div class="row pagin">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!--Filters end-->

<app-spinner *ngIf="showSpinner"></app-spinner>

<div class="container-fluid" *ngIf="!showSpinner">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="container-fluid">
      </div>
      <!-- Team -->
      <section id="team" class="pb-5">
        <div class="container">
          <div class="row ">
            <!-- Team member -->
            <div class=" col-md-6 col-lg-4" *ngFor="let formInfo of info  | paginate: { itemsPerPage: 9, currentPage: currentPage }| filterdata: queryString">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="{{formInfo.img}}" (error)="photoError($event)" alt="card image"></p>
                        <h4 class="card-title">{{formInfo.title}}</h4>
                        <p></p>
                        <p class="card-text over">{{formInfo.type}} | {{formInfo.tag}} </p>
                        <p class="card-text">{{'alp4' | translate}}{{formInfo.postDate}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">{{formInfo.title}}</h4>
                        <p class="card-text">{{formInfo.description}}</p>
                        <button class="btn btn-success mr-2" [routerLink]="['/post-detail', formInfo.key]" >{{'alp5' | translate}}</button>
                        <button class="btn btn-warning" [hidden]="!formInfo.isVisible"
                                 (click)="hidePost(formInfo.key, formInfo.isVisible)">{{'alp6' | translate}}</button>
                        <button class="btn btn-warning " [hidden]="formInfo.isVisible"
                                 (click)="hidePost(formInfo.key, formInfo.isVisible)">{{'alp7' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Team member -->
          </div>
        </div>
      </section>
      <!-- Team -->
    </div>
  </div>
</div>

<div class="row pagin">
  <pagination-controls (pageChange)="CurrentPage = $event"></pagination-controls>
</div>
