<div class="container col-lg-5 view">
  <form   (ngSubmit)="onSignIn(f)" #f="ngForm">
    <div class="login1">
      <h1 class="rig">{{'si1' | translate}}</h1>
      <p>{{'si2' | translate}}<span> <i><a routerLink="/signup">{{'si3' | translate}}</a></i>{{'si4' | translate}}</span> </p>
      <hr>

      <label for="email"><b>{{'si5' | translate}}</b></label>
      <input type="text" name="email" placeholder="{{'si6' | translate}}" id="email" class="mail1" required ngModel>

      <label for="psw"><b>{{'si7' | translate}}</b></label>
      <input type="password" name="password" placeholder="{{'si8' | translate}}" id="psw" class="pass1" required ngModel>

      <div class="clearfix">
        <button type="submit" class="btn btn-outline-success" [disabled]="!f.valid">{{'si9' | translate}}</button>
      </div>
      <div *ngIf="authService.errorMsg" class="alert alert-danger">
        <strong>{{'si10' | translate}}</strong>
      </div>
    </div>
  </form>
</div>
