.view{
  height: 651px;
}
.main{
  margin-top: 5%;
  margin-bottom: 90px;
  width: 70%;
}
button{
  position: relative;
  left: 43%;
}

.alert-success, .alert-danger{
  margin-top: 20px;
  text-align: center;
}
.alertIf{
  position: relative;
  margin-top: 350px;
  margin-bottom: 351px;
}
.redAsterisk{
  color: red;
}
.cl94{
  width: 94%;
}
.fa-calendar{
  margin-left: -12px;
}
