<div class="centered">

<div class="alert alert-danger alertIf" *ngIf="!authService.isAuthenticated()" >
  <strong></strong>{{'cp1' | translate}}
</div>

</div>

<div class="container main" *ngIf="authService.isAuthenticated()">
<!--<div class="container main" >-->
  <h3>{{'cp2' | translate}}</h3>


<form action="#" #useForm="ngForm"  (ngSubmit)="onSubmit(useForm.value)">
  <div class="form-group">
  <div class="row">
    <div class="col">
      <label for="fName">{{'cp3' | translate}}</label><span class="redAsterisk"> *</span>
      <input type="text" name="fName" id="fName" #name='ngModel' class="form-control" placeholder="{{'cp26' | translate}}" required
             pattern="^[a-zA-Z][a-zA-Z\.]{1,20}$"
             [class.is-invalid]="name.invalid && name.touched"  [(ngModel)]="info.fName" >
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">{{'cp4' | translate}}</small>
    </div>
    <div class="col">
      <label for="lName">{{'cp5' | translate}}</label>
      <input type="text" name="lName" id="lName" class="form-control">
    </div>
  </div>
  </div>
  <div class="form-group">
  <div class="row">
    <div class="col">
      <label for="typeSelect">{{'cp6' | translate}}</label><span class="redAsterisk"> *</span>
      <select  class="form-control" name="type" id="typeSelect" #type='ngModel' required
               [(ngModel)]="info.type" [class.is-invalid]="type.invalid && type.touched" >
        <option>{{'cp7' | translate}}</option>
        <option>{{'cp8' | translate}}</option>
        <option>{{'cp9' | translate}}</option>
      </select>
      <small class="text-danger" [class.d-none]="type.valid || type.untouched">{{'cp10' | translate}}</small>

    </div>
    <div class="col">
      <label for="tag">{{'cp11' | translate}}</label><span class="redAsterisk"> *</span>
      <input type="text" name="tag" id="tag" #tag='ngModel' class="form-control" placeholder="{{'cp12' | translate}}" required
             pattern="^#[\w-]+(?:\s+#[\w-]+)*$"
             [(ngModel)]="info.tag" [class.is-invalid]="tag.invalid && tag.touched">
      <small class="text-danger" [class.d-none]="tag.valid || tag.untouched">{{'cp13' | translate}}</small>

    </div>

    <div class="col ">
      <label>{{'cp14' | translate}}</label><span class="redAsterisk"> *</span>
    <div class="input-group cl94">
      <input class="form-control" id="expireDate" #expDate='ngModel'  placeholder="{{'cp15'| translate}}" name="expireDate" required
             [minDate]="minDate" [class.is-invalid]="expDate.invalid && expDate.touched"
              [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" >
      <div class="input-group-append">
        <button class="btn btn-outline-primary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>




<!--    <div class="col">
      <label for="expireDate">Post until</label><span class="redAsterisk"> *</span>
      <input type="date" name="expireDate"  id="expireDate" #expireDate='ngModel' class="form-control" min="{{today}}" required ngbDatepicker
             [(ngModel)]="info.expireDate"  [class.is-invalid]="expireDate.invalid && expireDate.touched">
      <small class="text-danger" [class.d-none]="expireDate.valid || expireDate.untouched">Please select date</small>
    </div>-->


    </div>
  </div>
  <div class="form-group">
    <label for="postName">{{'cp16' | translate}}</label><span class="redAsterisk"> *</span>
    <input type="text" name="title" id="postName" #title='ngModel' class="form-control"  placeholder="{{'cp17' | translate}}"  required
          [(ngModel)]="info.title" [class.is-invalid]="title.invalid && title.touched">
    <small class="text-danger" [class.d-none]="title.valid || title.untouched">{{'cp18' | translate}}</small>

  </div>
  <div class="form-group">
    <label for="postName">{{'cp19' | translate}}</label>
    <input type="text" name="img" id="img" #img='ngModel' class="form-control"  placeholder="{{'cp20' | translate}}" [(ngModel)]="info.img">


  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
    <label for="textArea">{{'cp21' | translate}}</label><span class="redAsterisk"> *</span>
    <textarea class="form-control" name="description" #description='ngModel' id="textArea" rows="5" placeholder="{{'cp22' | translate}}" required
              [(ngModel)]="info.description" [class.is-invalid]="description.invalid && description.touched"></textarea>
    <small class="text-danger" [class.d-none]="description.valid || description.untouched">{{'cp23' | translate}}</small>

  </div>

  <input style="display:none;" type="email" name='email' class="form-control" id="email1" #email='ngModel' placeholder="name@example.com" [(ngModel)]="authService.email">
  <input style="display:none;" name='postDate' class="form-control" id="postDate" #postDate='ngModel' [(ngModel)]="today">
  <input style="display:none;" name='isVisible' class="form-control" id="isVisible" #isVisible='ngModel' [(ngModel)]="info.isVisible">

  <button type="submit" [disabled]="useForm.form.invalid"  class="btn btn-success">{{'cp24' | translate}}</button>
</form>
</div>
<div class="centered">

<div class="alert alert-success"  *ngIf="success" >
  <strong>{{'cp25' | translate}}</strong>
</div>

</div>
