<div class="fullcard">

  <div class="container">
    <div *ngIf="isOwner() || authService.isAdmin()" class="alert alert-primary" >
      <strong>{{'sp1' | translate }}<span><img class="editImgAlert "
                                              src="https://www.shuledirect.co.tz/assets/public/img/edit-icon-.png"
                                              alt="editable"></span>{{'sp2' | translate }}</strong>
    </div>
    <div class="card text-center">
      <div class="card-header top">
        <div class="row ">
          <div class="col-md-3">
            <img src="{{img}}" (error)="photoError($event)" class="img-fluid"
                 alt="Responsive image">
           <!-- <span><img *ngIf="isOwner() || authService.isAdmin()" class="editImg"
                       src="https://www.shuledirect.co.tz/assets/public/img/edit-icon-.png"
                       alt="editable"></span>-->
            <button type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#myModal" *ngIf="isOwner() || authService.isAdmin()">{{'sp3' | translate }}</button>
            <div class="modal fade" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">{{'sp4' | translate }}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <label for="editImg"></label>
                    <input type="text" id="editImg" #editImg value="{{img}}" class="form-control">
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editImage(editImg.value)">{{'sp5' | translate }}</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9 infoplace">

            <span class="card-title h3"
                  [contentEditable]="isOwner() || authService.isAdmin()" name="title" #titleVal
                  (blur)="edit($event.target.attributes.name.value, titleVal.innerHTML)"
            >{{title}}</span>
            <span><img *ngIf="isOwner() || authService.isAdmin()" class="editImg"
                       src="https://www.shuledirect.co.tz/assets/public/img/edit-icon-.png"
                       alt="editable"></span>
            <span class="btn-right"
                  *ngIf="isOwner() || authService.isAdmin()"
                  [hidden]="!isVisible">{{'sp6' | translate }}<span class="btn btn-info "
                  (click)="hidePost(keyInfo, isVisible)">{{'sp7' | translate }}</span></span>
            <span class="btn-right"
                  *ngIf="isOwner() || authService.isAdmin()"
                  [hidden]="isVisible">{{'sp8' | translate }}<span class="btn btn-info"
                  (click)="hidePost(keyInfo, isVisible)">{{'sp9' | translate }}</span></span>
            <br>

            <span class="spanlh">{{'sp10' | translate }}</span>
            <span class="spanlh" [contentEditable]="isOwner()" name="fName" #fNameVal
                  (blur)="edit($event.target.attributes.name.value, fNameVal.innerHTML)"
            >{{fName}}</span>
            <span><img *ngIf="isOwner() || authService.isAdmin()" class="editImg"
                       src="https://www.shuledirect.co.tz/assets/public/img/edit-icon-.png"
                       alt="editable"></span>


            <br>

            <span class="spanlh">{{'sp11' | translate }}{{email}}</span>
            <br>
            <span class="spanlh">{{type}}</span> <br>


            <span class="spanlh" [contentEditable]="isOwner()" name="tag" #tagVal
                  (blur)="edit($event.target.attributes.name.value, tagVal.innerHTML)">{{tag}}</span>
            <span><img *ngIf="isOwner() || authService.isAdmin()" class="editImg"
                       src="https://www.shuledirect.co.tz/assets/public/img/edit-icon-.png" alt="editable"></span>
            <br>
            <!--<span class="spanlh" [contentEditable]="isOwner()" name="tag" #tagVal-->
                  <!--(blur)="edit($event.target.attributes.name.value, tagVal.innerHTML)">{{isVisible}}</span>-->

          </div>
        </div>

      </div>
      <div class="centered">

        <div class="card-body">
          <span><img *ngIf="isOwner() || authService.isAdmin()" class="editImgDesc"
                     src="https://www.shuledirect.co.tz/assets/public/img/edit-icon-.png" alt="editable"></span>
          <p class="card-text" [contentEditable]="isOwner()" name="description" #dVal
             (blur)="edit($event.target.attributes.name.value, dVal.innerHTML)">{{description}} </p>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-6">
            {{'sp12' | translate }}{{postDate}}
          </div>
          <div class="col-sm-6 ta-right" *ngIf="isOwner() || authService.isAdmin()">
            {{'sp13' | translate }}{{expireDate}}
          </div>

    </div>
  </div>
</div>


<!--<div class="container ">-->

<!--<div class="col-md-12 ca">-->
<!--<p>This is adver item withs key: {{keyInfo}}</p>-->
<!--<h2>This is a title {{title}}</h2>-->
<!--<p>This is a First name {{fName}}</p>-->
<!--<p>This is an email: {{email}}</p>-->
<!--<p>This is a type: {{type}}</p>-->
<!--<p>This is a tag: {{tag}}</p>-->
<!--<p>This is a post date{{postDate}}</p>-->
<!--<p>This is a description {{description}}</p>-->
<!--</div>-->

<!--</div>-->
