*{
  border-radius: 10px;
}
.h3{

  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}
.alert-primary{
  text-align: center;
}
.fullcard{
  margin: 59px 0;
}

.top{
  border: 2px solid #2376ae;

}
.btn-sm{
  margin-top: 5px;
}
.btn-right{
  float: right;
}
.infoplace{
  text-align: left;
  font-size: 18px;
  color: #007b5e ;
}

.spanlh{
  line-height: 40px;
}
.editImgAlert{
  max-height: 20px;
  max-width: 20px;
  margin: 0 5px;
}
.editImg{
  max-height: 20px;
  max-width: 20px;
  margin: 0 0 5px 10px;
}
.editImgDesc{
  position: absolute;
  left: 15px;
  max-height: 20px;
  max-width: 20px;
  margin: 0 0 5px 10px;
}

.card-text{
  text-align: left;
  font-size: 25px;
}
.centered{
  text-align: center;
  border-radius: 0;
  border-right: 2px solid #2376ae;
  border-left: 2px solid #2376ae;


}

.card-body{
  width: 85%;
  min-height: 290px;
  display: inline-block;
}


.card-footer{
  border: 2px solid #2376ae;

  text-align: left;
  line-height: 10px;
  height: 35px;
}
.ta-right{
  text-align: right;
}
